.cover{
    display:none;
}
@media only screen and (max-width: 1200px) {

.cover{
    display:contents;
}
}
/* Projects Section */
.projects {
    padding: 4rem 0;
}
.projects p {
    color: white;
}


.projects .container {
    text-align: center;
    width: 100%; /* Change to 100% to make it responsive */
    max-width: 1650px; /* Set a maximum width */
    margin: 0 auto; /* Center the container */
}

.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.project-box {
    transition: transform 0.3s ease-in-out;
    position: relative; /* Change to relative to position the pseudo-element correctly */
    width: 100%; /* Change to a percentage to make it responsive */
    max-width: 100rem; /* Set a maximum width */
    background-size: cover;
    background-position: center;
    background-color: rgb(25, 165, 32);
    padding: 2rem;
    margin: 1rem auto !important;
    border-radius: 8px;
    color: white;
    text-align: center;
    overflow: hidden; /* Ensure the overlay doesn't overflow */
    
}
.project-box:hover{
    transform: translateY(-1px) scale(1.05);
}

.project-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.26); /* Adjust the transparency as needed */
    border-radius: 8px; /* Match the border radius of the project-box */
    z-index: 1;
   
    transition: background-color 0.3s ease-in-out; /* Add transition for smooth effect */
}

.project-box:hover::before {
    background-color: rgba(0, 0, 0, 0.541); /* Apply the hover effect to the pseudo-element */
    
}



.project-box h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    position: relative;
    z-index: 2;
}

.project-box p {
    margin-bottom: 1rem;
    font-size: 1rem;
    position: relative;
    z-index: 2;
}

.project-box .learn-more {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    z-index: 2;
}




@media only screen and (max-width: 800px) {
    
    .projects h2 {
        font-size: 2rem;
    }

    

    .project-box h3 {
        font-size: 1.5rem;
    }

    .project-box p {
        font-size: 0.875rem;
    }

    .project-box .learn-more {
        padding: 0.5rem 0.75rem;
    }
}

